@page "/"
@attribute [Authorize]
<h1 class="text-center">Welcome to ProductsManagements!</h1>

<div class="text-center">
    <NavLink class="nav-link" href="ListProducts">
        <button class="btn btn-info btn-lg">See Products</button>
    </NavLink>
</div>
